<!DOCTYPE html>
<html>
<title>MILLY FASHION</title>
{% load static %}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">

<style>
    .w3-sidebar a {
        font-family: "Roboto", sans-serif
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .w3-wide {
        font-family: "Montserrat", sans-serif;
    }
</style>

<body class="w3-content" style="max-width:1200px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
        
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
           <h3 class="w3-wide"><b><a href="{% url 'app:index' %}" style="text-decoration:none"> MILLY  </a></b></h3> 
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{% url 'app:shirts' %}" {% if request.path == '/shirts/' %}class="w3-bar-item w3-button w3-dark-gray" {% endif %} class="w3-bar-item w3-button">Shirts</a>
            <a href="{% url 'app:dresses' %}" {% if request.path == '/dresses/' %}class="w3-bar-item w3-button w3-dark-gray" {% endif %} class="w3-bar-item w3-button">Dresses</a>
            <a href="{% url 'app:jeans' %}" {% if request.path == '/jeans/' %}class="w3-bar-item w3-button w3-dark-gray" {% endif %} class="w3-bar-item w3-button">Jeans</a>
            <!--<a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-light-gray w3-left-align" id="myBtn">
      Jeans <i class="fa fa-caret-down"></i>
    </a> -->
            <!--
            <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                <a href="#" class="w3-bar-item w3-button w3-light-grey">  <i class="fa fa-caret-right w3-margin-right"> </i>Skinny</a>
                <a href="#" class="w3-bar-item w3-button">Relaxed</a>
                <a href="#" class="w3-bar-item w3-button">Bootcut</a>
                <a href="#" class="w3-bar-item w3-button">Straight</a>
            </div>  -->
            <a href="{% url 'app:jackets' %}" {% if request.path == '/jackets/' %}class="w3-bar-item w3-button w3-dark-gray" {% endif %} class="w3-bar-item w3-button">Jackets</a>
            <a href="{% url 'app:gymwear' %}" {% if request.path == '/gymwear/' %}class="w3-bar-item w3-button w3-dark-gray" {% endif %} class="w3-bar-item w3-button">Gymwear</a> {% comment %} <a href="#" class="w3-bar-item w3-button">Blazers</a> {% endcomment %}
            <a href="{% url 'app:shoes' %}" {% if request.path == '/shoes/' %}class="w3-bar-item w3-button w3-dark-gray" {% endif %} class="w3-bar-item w3-button">Shoes</a>
        </div>
        <a href="" class="w3-bar-item w3-button w3-padding">Subscribe</a>
        <!-- <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> -->
        <a href="" class="w3-bar-item w3-button w3-padding">Contact</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
        <div class="w3-bar-item w3-padding-24 w3-wide"><a href="{% url 'app:index' %}" style="text-decoration:none">MILLY</a></div>
        <a href="javascript:void(0)" class="" onclick="w3_open()"><img src="{% static 'img/burger_icon.png' %}" class="myBurgerIcon" /></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>


        <!-- Image header -->
        {% block index %} {% endblock index %}

        <!-- Top header -->
        

        {% block dresses %} {% endblock dresses %} 
        {% block gymwear %} {% endblock gymwear %}
        {% block jackets %} {% endblock jackets %}
        {% block shirts %} {% endblock shirts %}
        {% block jeans %} {% endblock jeans %} 
        {% block shoes %} {% endblock shoes %}

        <!-- Subscribe section -->
        {% block subscribe %}
        <div id="subscribe" class="w3-container w3-black w3-padding-64 mySubscribe" >
            <h1>Subscribe</h1>
            <p>To get special offers and VIP treatment:</p>
            <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
            <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
        </div>
        {% endblock subscribe %}

        <!-- Footer -->
        {% block footer %}
        <footer class="w3-padding-64 w3-light-grey w3-small w3-center myFooter" id="footer">
            <div class="w3-row-padding">
                <div class="w3-col s7">
                    <h4>Contact</h4>
                    <p>Questions? Go ahead.</p>
                    <form action="{% url 'app:index' %}" target="_blank">
                    {% csrf_token %}
                        {% for field in form %}
                        <p>{{ field }}</p>
                        {% comment %} <p><input class="w3-input w3-hover-border-cyan" type="text" placeholder="Name" name="Name" required></p>
                        <p><input class="w3-input w3-hover-border-cyan" type="text" placeholder="Email" name="Email" required></p>
                        <p><input class="w3-input w3-hover-border-cyan" type="text" placeholder="Subject" name="Subject" required></p>
                        <p><input class="w3-input w3-hover-border-cyan" type="text" placeholder="Message" name="Message" required></p> {% endcomment %}
                        {% endfor %}
                        <button type="submit" class="w3-button w3-block w3-black">Send</button>
                    </form>
                </div>
              

                <div class="w3-col s4">
                    <h4>Store</h4>
                    <p><i class="fa fa-fw fa-map-marker"></i>Milly fashion</p>
                    <p><i class="fa fa-fw fa-phone"></i> 09XXXXXXXX</p>
                    <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
                    <h4>We accept</h4>
                    <p><i class="fa fa-fw fa-cc-amex"></i> Cash</p>
                    <p><i class="fa fa-fw fa-cc-amex"></i> Amole</p>
                    <p><i class="fa fa-fw fa-cc-amex"></i> Hello Cash</p>
                    <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
                    <br>
                    <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
                    <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
                    <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
                    <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
                    <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
                    <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
                </div>
            </div>
        </footer> 
        {% endblock footer %}

        <div class="w3-black w3-center w3-padding-32 myName">&copy;BuraDev 2020</div>

        <!-- End page content -->
    </div>

    <script>
        // Accordion 
        function myAccFunc() {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        // Click on the "Jeans" link on page load to open the accordion for demo purposes
        document.getElementById("myBtn").click();


        // Open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>

</body>


</html>