{% extends 'app/base.html' %}
{% load static %}

{% block gymwear %}
<header class="w3-container w3-xlarge">
    <p class="w3-left">{{ tag }}</p>
    <p class="w3-right">
        <i class="fa fa-shopping-cart w3-margin-right"></i>
        <i class="fa fa-search"></i>
    </p>
</header>

<div class="w3-container w3-text-grey" id="jeans">
    <p>{{ num_of_cloths }} items</p>
</div>
        <!-- Product grid -->
<div class="w3-row w3-animate-zoom">
    {% for cloth in cloths %}
        <div class="w3-col l3 s6">
            <div class="w3-container">
                <div class="w3-display-container">
                  <a href="{{ MEDIA_URL }}{{ cloth.photo.url }}">  <img src="{{ MEDIA_URL }}{{ cloth.photo.url }}" style="width:100%"></a>
                    <span class="w3-tag w3-display-topleft">New</span>
                    {% comment %} <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Click to see<i class="fa fa-shopping-cart"></i></button>
                    </div> {% endcomment %}
                </div>
                <p>{{ cloth.text }}<br><b>{{ cloth.price }} ETB</b></p>
            </div>
            {% comment %}             
            <div class="w3-container">
                <img src="{{ MEDIA_URL }}{{ cloth.photo.url }}" style="width:100%">
                <p>{{ cloth.text }}<br><b>{{ cloth.price }} ETB</b></p>
            </div>  {% endcomment %}
        </div>
    {% endfor %}
</div>
{% endblock gymwear %}